*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Euclid Triangle';
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 20px 1px rgb(224, 224, 224);
}
.logo img{
    height:70px;
    width: auto;
    margin: 15px 20px;
}
.navbar-links ul,
.rnavbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navbar-links ul li,
.rnavbar-links ul li{
    list-style: none    

}
.navbar-links ul li a,
.rnavbar-links ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
}
.navbar-links ul li a:hover,
.rnavbar-links ul li a:hover{
    color:orange;
    font-weight: bolder;
}
.navbar-links ul li a.active,
.rnavbar-links ul li a.active{
    color:orange;
    font-weight: bolder;
}

.navbar-links img{
    height: 20px;
}
.navbar-links button,
.rnavbar-links button{
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(220, 216, 216);

}
.navbar-links button:hover,
.rnavbar-links button:hover{
    background-color: rgb(194, 194, 194);
}

.toggle-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
.rnavbar-links{
    display: none;
}
/* --------------------------------------------------------------- */
.powerpoint{
    background-image: url("/images/bg-homepage.png");
    background-size: cover;
    padding: 5% 0;
  }
  .home{
    position: relative;
    max-width: 100%;	
    height: 55vh;
    margin: auto;
  }
  .home .fade{
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index:1; 
      display:none;
      /* padding:0 15px; */
      animation: fade 2s ease;  
    border-radius: 80px;
    box-shadow: 0 0 30px -10px rgb(0, 0, 0);
  }
  .home .fade.active{
      display: flex;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* @keyframes fade{
      0%{
          transform:scale(1.01);
      }
      100%{
          transform: scale(1);
      }
  } */
  
.controls .prev,
.controls .next{
   position: absolute;
   z-index:2;
   top:50%;
   height:40px;
   width: 40px;
   margin-top: -20px;
   border-radius: 50%;
   color:#ffffff;
   background-color: #000000;
   text-align: center;
   line-height: 38px;
   font-size:20px;
   cursor:pointer;
   opacity: 0.4;
   transition:  all 0.5s ease;
  }
.controls .prev:hover,
.controls .next:hover{
      background-color: #000000;
    opacity: 0.7;
  
  }
.controls .prev{
   left:-10%;
  }
.controls .next{
   right:-10%;
  }
  
.indicator{
      position: absolute;
      left:50%;
      bottom:-8%;
      z-index: 2;
      transform: translateX(-50%);
    opacity: 0.8;  
    margin-left: 15px;
  }
.indicator div{
      display: inline-block;
      width:15px;
      height: 15px;
      background-color: #8ba9d2;
    border: 3px solid white;
      border-radius:50%;
      text-align: center;
      line-height: 5px;
      margin:0 3px;
  }
  
.indicator div.active{
   background-color: #213e67;
  }
  


/* ---------------------------------------------------------------------------- */

/* box 1 */
.container1{
    background-color: rgb(223, 223, 220);
}
.box1{
    display: flex;
    justify-content: center;
}
.box1_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    margin: 10% 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 20px 30px 40px 10px gray;
}
.box1_info h1{
    word-spacing: 5px;
    font-size: 2.3rem;
}
.box1_info p{
    margin-top: 50px;
}
.img_box1 img{
    height: auto;
    width: 80%;
    padding: 10%;
}

/* ---------------------------------------------------------------------------- */

/* box2 */


.box2{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.box2_info1,
.box2_info2{
    background-color:rgb(196, 232, 255) ;
    margin:5%;
    padding: 100px 50px;
    border-radius: 50px;
    box-shadow: 0 6px 20px 1px rgb(153, 203, 236);
}
.box2_info1 h1,
.box2_info2 h1{
    word-spacing: 5px;
}
.box2_info1 hr{
    padding: 0;
    margin:3% 15%;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: orange;
}
.box2_info2 hr{
    padding: 0;
    margin:3% 19%;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: orange;
}

/* -------------------------------------------------------------- */
