@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 20px 1px rgb(224, 224, 224);
}
.logo img{
    height:40px;
    width: auto;
    margin: 10px 0;
    padding-top: 3px;
    margin-left: 50px;
}
.navbar-links ul,
.rnavbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navbar-links ul li,
.rnavbar-links ul li{
    list-style: none    

}
.navbar-links ul li a,
.rnavbar-links ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
}
.navbar-links ul li a:hover,
.rnavbar-links ul li a:hover{
    color:orange;
    font-weight: bolder;
}
.navbar-links ul li a.active,
.rnavbar-links ul li a.active{
    color:orange;
    font-weight: bolder;
}

.navbar-lang ul li,
.rnavbar-links ul li{
    list-style: none;
}
.navbar-lang button{
    padding: 5px;
    margin-right: 50px;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
    /* background-color: rgb(220, 216, 216);     */
    background:none;
}
.navbar-lang button:hover{
    /* background-color: rgb(194, 194, 194); */
    border-bottom: 3px solid orange;
}

.toggle-btn{
    position: absolute;
    right: 0;
    display: none;
    width: 15px;
    height: 14px;
    color: black;
    text-decoration: none;
}

.rnavbar-links{
    display: none;
}


  

/* ---------------------------------------------------------------------------- */

/* box 1 */
.container1{
    display: inline-flex;
    background-image: url('/images/box1-bg.png');
    background-size: content;
    height: 59vh;
    width: 100%;
}
.box1{
    display: flex;
    justify-content: center;
}
.box1_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    margin: auto 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 6px 5px 3px rgba(83, 82, 82, 0.537);
}
.box1_info h1{
    word-spacing: 5px;
    font-size: 35px;
}
.box1_info p{
    margin-top: 30px;
    font-size: 15px;

}
/* ---------------------------------------------------------------------------- */

/* box2 */


.box2{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.box2_info1,
.box2_info2{
    background-color:rgb(196, 232, 255) ;
    margin:5%;
    padding: 100px 50px;
    border-radius: 50px;
    box-shadow: 0 6px 20px 1px rgb(153, 203, 236);
}
.box2_info1 h1,
.box2_info2 h1{
    word-spacing: 5px;
}
.box2_info1 hr{
    padding: 0;
    margin:3% 15%;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: orange;
}
.box2_info2 hr{
    padding: 0;
    margin:3% 19%;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: orange;
}

/* -------------------------------------------------------------- */
