@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 20px 1px rgb(224, 224, 224);
}
.logo img{
    height:40px;
    width: auto;
    margin: 10px 0;
    padding-top: 5px;
    margin-left: 50px;
}
.navbar-links{
  margin-left: -100px;
}
.navbar-links ul,
.rnavbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navbar-links ul li,
.rnavbar-links ul li{
    list-style: none    

}
.navbar-links ul li a,
.rnavbar-links ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
}
.navbar-links ul li a:hover,
.rnavbar-links ul li a:hover{
    color:orange;
    font-weight: bolder;
}
.navbar-links ul li a.active,
.rnavbar-links ul li a.active{
    color:orange;
    font-weight: bolder;
}

.navbar-lang ul li,
.rnavbar-links ul li{
    list-style: none;
}
.navbar-lang button{
    padding: 5px;
    margin-right: 50px;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
    /* background-color: rgb(220, 216, 216);     */
    background:none;
}
.navbar-lang button:hover{
    /* background-color: rgb(194, 194, 194); */
    border-bottom: 3px solid orange;
}

.toggle-btn{
    position: absolute;
    right: 0;
    display: none;
    width: 15px;
    height: 14px;
    color: black;
    text-decoration: none;
}

.rnavbar-links{
    display: none;
}


  
/* --------------------------------------------------------------- */


  /* box1 */


  .box1{
    background-image: url("/images/cover-joinus.png");
    background-size: cover;
    opacity:0.93 ;
    height: 500px;    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  .text1{
    color:white  
  }
  .text1 h1{
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .text1 p{
    font-size: 1.8rem;
    margin-bottom: 100px;
  }

  .btn{
    background-color: #c86f0a;
    border: none;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 60px;

  }

  a .btn {
    color: rgb(255, 255, 255);
    margin-top: -50%;
  }

  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }

  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

/* ---------------------------------------- */

/* box 2 */
.fadeUp{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.fadeUp.active{
  transform: translateY(0px);
  opacity: 1;
}

.container2{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.text2_info1,
.text2_info2{
  margin: 50px 0px;
}
.text2_info1 h1,
.text2_info2 h1{
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-align: center;
}
.text2_info1 p{
  font-size: 1.8rem;
}
.box2_info2{
  background-color: black;
  width: 100%;
  height: 500px;  
}
.text2_info2 {
  color: white;
  display: flex;
  flex-direction: column;
}
.text2_info2 h1 {
  font-size: 3rem;
}
.text2_info2 .img_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
}
.text2_info2 .img_info img{
  width:505.9px;
  margin: -50px 0;
  height: auto;

}




/* -----------------------------------------------------------------------*/

/* box 3  */

.box3{
  background-image: url("/images/cover-joinus.png");
  background-size: cover;
  opacity:0.9 ;
  height: 500px;    
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.regis h1{
  font-size: 3rem;
  margin-bottom: 50px;
}
.regis p{
  font-size: 1.8rem;
  margin-bottom: 80px;
}
.regis .btn{
  margin-left: -4px;
}
