/* section1 */
.nav{
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  /* height: 90px; */
}
  .menu{
    background-color: aquamarine;
    width: 100%;
    position: absolute;   /* align-items: center; */
  }

  .dropdown{
    /* position: absolute; */
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  background-color: antiquewhite;
}
/* .dropdown a, button, img{
  margin-top: -50px;
  margin-left: 80px;
} */

.dropdown a, button:nth-child(1){
  margin-right: 50px;
  display: flex;
}











/* main{
  display:grid;
  grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) 
  minmax(60px, 1fr); 
  width: 100%;    
}
  nav{
    display: flex; 
    height: 75px;      
    grid-column: 1 / span 8;
    align-items: center;
  }

  .logo{    
    margin: 1% 3%;
  }

  .logo img{
    width: 200px;
  }

  .menus{
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  
  .menus img{
    height: 20px;
  }

  .icn{
    margin-right: 20px;
  }

  .menus a, button, img{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-right: 10px;
  }

  .dropdown a img{
    margin-right: -5px;
  }

  .dropdown img{
    height:15px;
  }

  .menus button {
    background: rgba(11, 218, 255,0.4);
    padding: 10px 5px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease, transform 0.2s ease;

  }

  .menus button a {
    color: rgb(21, 16, 16);
    text-align: center;    
    margin-right: 5px;
    padding: 10px;    
  }

  .menus button:hover{
    background-color:#FFA004;
    transform: translateY(3px);
  }

  .dropdown-content{
    display:none;
    background-color: #fff;
    box-shadow: 0px 0px 80px 5px rgba(0,0,0,0.2);
    position: absolute;
    
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-right: 0px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover{
    background-color: #0e65b52c;
  } */
