*{
  box-sizing: border-box;
  font-family: 'Euclid Triangle';
}

body{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
}
.navbar {
  display: flex;
  align-items: center;
  height: 60px;
}

.brand-title img{
  height: 50px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.navbar-links{
  width: 100%;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
  display: block;
}

.navbar-links li img{
  text-decoration: none;
  margin-top: 15px;
}

.navbar-links li a.menu:hover{
  color: #ff5e14;
}

.toggle-button{
  position: absolute;
  top: 1.1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
}

.toggle-button .bar{
  height: 2.5px;
  width: 80%;
  background-color: black;
  border-radius: 15px;
}

img.img_nav{
  height: 20px ;
}

.lang{
  display: block;
  margin-top: 15px;
  align-self: center;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  border: none;
  font-size: 15px;
}

















@media(max-width:1000px){
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul{
    flex-direction: column;
    align-items: center;
    width: 100%;    
    background-color: rgb(26, 25, 25);    

  }

  .navbar-links li{
    text-align: center;   
 
    
  }
  
  .navbar-links li a.menu{
    padding: .5rem 1rem;
    color: white; 

  }

  .navbar-links.active{
    display: flex;      z-index: 100;


  }

  .navbar-links li img{
    display: none;      


  }

  .navbar-links li.lang{
      display: block; 
      justify-content: center;   


  }

  .navbar-links li button{
    display: block;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px; 
    
}

}