body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* section1 */
.nav{
  display: flex;
  align-items: center;
  float: right;
  width: 100%;
  height:70px;
}

.logo img{
  margin-left: 20px;
  height: 50px;
}

.topnav{ 
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:100%;
}

.topnav a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px 13px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #eba132;
}

.topnav .icon {
  display: none;
}

.topnav a.join_us{
  background-color: #62b9f0;
  border-radius: 30px;
  margin-right: 10px;
}

.topnav a.join_us:hover{
  background-color: #eba132;
  color: #000000;
}

img.img_nav {
  height: 20px;  
}

.dropdown{
  display: block;
  margin-left: 10px;
  margin-right:2%;
}

.nav.dropdown a{
  text-decoration: none;
  color: black;
}

.dropdown-content{
  display: none;
  background-color: rgb(203, 231, 244);
  box-shadow: 0px 0px 80px 5px rgba(0,0,0,0.2);
  position: absolute;
  min-width: 0px;
  border-radius: 15px;  float: right;

}

.dropdown-content a {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
  text-align: left;  float: right;

}

.dropdown:hover .dropdown-content {
  display: block;
  margin-right: 20px;
  overflow:auto ;  float: right;

}

.dropdown-content a:hover{
  background-color: #0e65b52c;
  border-radius: 15px;
  float: right;
} 

/* ------------------------------------------------------------ */

/* ---------------------------------------- */
* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }

.sortby {
    height: 10px;
    float: left;
  }

    /* ---------------------------------------- */

  

    table .btn {
      background-color: #4e4e4e;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;      

    }
    
    table .btn:hover {opacity: 1}

    table .btn a:link, a:visited {
      color: rgb(0, 0, 0);
      text-align: center;
      text-decoration: none;

    }
    