*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Euclid Triangle';
}

/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 20px 1px rgb(224, 224, 224);

}
.logo img{
  height:70px;
  width: auto;
  margin: 15px 20px;
}
.navbar-links ul,
.rnavbar-links ul{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.navbar-links ul li,
.rnavbar-links ul li{
  list-style: none    

}
.navbar-links ul li a,
.rnavbar-links ul li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
}
.navbar-links ul li a:hover,
.rnavbar-links ul li a:hover{
  color:orange;
  font-weight: bolder;
}
.navbar-links ul li a.active,
.rnavbar-links ul li a.active{
    color:orange;
    font-weight: bolder;
}
.navbar-links ul li .joinus{
  background-color: rgb(92, 185, 247);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.navbar-links ul li .joinus:hover{
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.navbar-links img{
  height: 20px;
}
.navbar-links button,
.rnavbar-links button{
  padding: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(220, 216, 216);

}
.navbar-links button:hover,
.rnavbar-links button:hover{
  background-color: rgb(194, 194, 194);
}

.toggle-btn{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-btn .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.rnavbar-links{
  display: none;
}
/* --------------------------------------------------------------- */

  
  #myInput {
    background-image: url('/images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }

.sortby {
    height: 10px;
    float: left;
  }

    /* ---------------------------------------- */

  

    table .btn {
      background-color: #4e4e4e;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;      

    }
    
    table .btn:hover {opacity: 1}

    table .btn a:link, a:visited {
      color: rgb(0, 0, 0);
      text-align: center;
      text-decoration: none;

    }
    