*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Euclid Triangle';
}

/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 20px 1px rgb(224, 224, 224);

}
.logo img{
  height:70px;
  width: auto;
  margin: 15px 20px;
}
.navbar-links ul,
.rnavbar-links ul{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.navbar-links ul li,
.rnavbar-links ul li{
  list-style: none    

}
.navbar-links ul li a,
.rnavbar-links ul li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
}
.navbar-links ul li a:hover,
.rnavbar-links ul li a:hover{
  color:orange;
  font-weight: bolder;
}
.navbar-links ul li a.active,
.rnavbar-links ul li a.active{
    color:orange;
    font-weight: bolder;
}
.navbar-links ul li .joinus{
  background-color: rgb(92, 185, 247);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.navbar-links ul li .joinus:hover{
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.navbar-links img{
  height: 20px;
}
.navbar-links button,
.rnavbar-links button{
  padding: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(220, 216, 216);

}
.navbar-links button:hover,
.rnavbar-links button:hover{
  background-color: rgb(194, 194, 194);
}

.toggle-btn{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-btn .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.rnavbar-links{
  display: none;
}
/* --------------------------------------------------------------- */


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.headerlist{  
  display: flex;
  margin-top: 30px;
}
.wrap{  
  margin: 0 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.wrap p{  
  font-size: 2rem;
}
.search {
  width: 30%;
  position: relative;
  display: flex;  
}
.searchTerm {
  width: 100%;
  border: 4px solid #fc9048;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #fc9048;
  background: #fc9048;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.table{
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 100px;
}

.list{
  padding: 20px 50px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(118, 118, 117);
  background-color: rgb(216, 213, 213);
}
.list:hover{

  border-left: 12px solid rgb(244, 136, 28);
  background-color: rgb(188, 186, 186);
}
.list a{
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  color: black;
  width: 100%;
}
.info1{
  justify-content: center;
  align-items: center;
  padding:15px 10px;
}
.info1 p{
  margin-top: 10px;
}
.info2{
  display: flex;  
  margin-top: 20px;
}
.info2 p{
  display: flex;
  align-items: center;
}
.info2 .employee,
.info2 .salary{
  margin-right: 30px;
}
.info2 img{
  height: 22px;
}
.icons img{
  height: 100px;
}
