*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Euclid Triangle';
}

/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  height:70px;
  width: auto;
  margin: 15px 20px;
}
.navbar-links ul,
.rnavbar-links ul{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.navbar-links ul li,
.rnavbar-links ul li{
  list-style: none    

}
.navbar-links ul li a,
.rnavbar-links ul li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
}
.navbar-links ul li a:hover,
.rnavbar-links ul li a:hover{
  color:orange;
  font-weight: bolder;
}
.navbar-links ul li a.active,
.rnavbar-links ul li a.active{
    color:orange;
    font-weight: bolder;
}
.navbar-links ul li .joinus{
  background-color: rgb(92, 185, 247);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.navbar-links ul li .joinus:hover{
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.navbar-links img{
  height: 20px;
}
.navbar-links button,
.rnavbar-links button{
  padding: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(220, 216, 216);

}
.navbar-links button:hover,
.rnavbar-links button:hover{
  background-color: rgb(194, 194, 194);
}

.toggle-btn{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-btn .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.rnavbar-links{
  display: none;
}
/* --------------------------------------------------------------- */


.position .info2 img{
  height:30px;
}