@media only screen and (max-width:1000px){

/* footer */
  .footer-section tr{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
   }
  .footer-logo img{
    height: 30px;
  }
  .footer-social-icon{
    text-align: center;
  }
  .footer-social-icon a{
    margin-left:15px;
  }

  .footer-widget-heading h3 {

    margin-bottom: -30px;

    }
  .footer-widget-heading h3.head1::before {
    content: "";
    position: absolute;
    margin-left: 0px;
    bottom: -5px;
    height: 1.5px;
    width: 100%;
    background: #ff5e14;
  }
  .footer-widget ul{
    }
  .footer-widget ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer-widget ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
  }
  .footer-widget ul li a{
    font-size: 0.6rem;
  }  
  .footer-widget-heading h3,
   .footer-social-icon span{
    font-size: 0.8rem;
    font-weight: 600;
    }
    .footer-widget-heading h3{
     margin-top: -20px;
     }
    .footer-social-icon span{
      position:relative ;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5px;
      }

      .footer-social-icon .icn {
        display: flex;
        position:relative ;
        flex-direction: row;
        margin-top: 10px;

}
.footer-social-icon i {
  height: 22px;
  width: 22px;
  line-height: 24px;
  border-radius: 50%;
  margin-bottom: 15px;
  }
  .footer-social-icon a {
    font-size: 10px;
    }
  }
