@media screen and (max-width:1000px){

/* navbar */
  .toggle-btn{
    display: flex;
    margin: 30px;
  }
  .navbar-links{
    display: none;
  }
  .rnavbar-links{
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 100;
  }
  .navbar{
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
  }
  .rnavbar-links ul{
    width: 100%;
    flex-direction: column;    
    background-color: rgba(0, 0, 0, 0.8);  
  }
  .rnavbar-links ul li{
    text-align: center;    
    padding: 5px;
    margin-top: 20px;
  }
  .rnavbar-links ul li a{
    color: white;
  }
  .rnavbar-links ul li .r_joinus{
    background-color: rgb(92, 185, 247);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .rnavbar-links ul li .r_joinus:hover{
      background-color: orange;
      color: white;
      border-radius: 10px;
      padding: 5px 10px;
  }
  .rnavbar-links ul li button{
    margin-bottom: 20px;
    margin-right: -1px;
    padding: 5px 10px;
  }
  .rnavbar-links.active{
    display: flex;
  }

  /* -------------------------------------------------------------- */

  /* slider  */

  /* On smaller screens, decrease text size */

  .prev, .next,.text {font-size: 11px}


  /* -------------------------------------------------------------- */

/* box 1 */
  .box1_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
  }
  .box1_info h1{
    word-spacing: 5px;
  }
  .box1_info p{
    margin-top: 50px;
  }
  .img_box1 img{
    height: auto;
    width: 100%;
    padding: 10%;
  }

/* ---------------------------------------------------------------------------- */

  /* box2 */

  .timeline {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    list-style-type: none;
    display: block;
  }
  .timeline:before {
    background: none;
  }
  .direction-l {
    position: relative;
    width: 390px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 390px;
    float: right;
  }

/* ---------------------------------------------------------------------------- */

  /* box3 */
  .box3{
    display: flex;
    flex-direction: column;
  }




















/* slider  */
  .nav-btn{
    visibility: hidden;
  }
  .swiper-pagination-bullet{
    visibility: visible;
  }











  /* section 3 */
.box1{
  display: flex;
  flex-direction: column-reverse;
}
/* section 4 */

.why1{
  display: flex;
  flex-direction: column;
}

/* --------------------------------------------------------- */

/* section 5 */

.box3_1{
  margin: 10%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.text3_1{
  text-align: center;
}

/* --------------------------------------------------------- */

/* footer */

.single-cta{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.single-cta i{
  margin-bottom: -10px;
}

.footer-section tr{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo{
  text-align: center;
  margin-left: -30px;
}

.footer-social-icon{
  text-align: center;
}

.footer-social-icon a{
  margin-left:15px;
}

.footer-widget{
  text-align: center;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  margin-left: 155px;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
}


