@media(max-width:1000px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li{
        text-align: center;
    }
    
    .navbar-links li a.menu{
        padding: .5rem 1rem;
        color: white;
        background-color: rgb(26, 25, 25);
    }

    .navbar-links.active{
        display: flex;
    }

    .navbar-links li img{
        display: none;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-links .dropdown a{
        padding: .5rem 1rem;
        color: white;
        background-color: rgb(26, 25, 25);
        width: 100%;
        border-top:1px solid rgb(223, 223, 223) ;
    }
    
    .navbar-links .dropdown-content{
        box-shadow: 0px 0px 80px 5px rgba(0,0,0,0.2);
        position: absolute;
        min-width: 0px;
        margin-top: 30px;
        height: 40px;
        width: 10%;  
        justify-content: center;
    }
    
    .navbar-links .dropdown-content a{
        color: black;
        padding: 10px 0px;
        text-decoration: none;
        text-align: center; 
        background-color: rgb(69, 71, 72); 
        border-radius: 10px;
    }
    
    .dropdown:hover .dropdown-content {
      /* box-shadow: 0px 0px 80px 5px rgba(86, 71, 71, 0.2); */
        border-radius: 10px;
        margin-left: 20px;
        display: flex;
        justify-content: center;    
        align-items: center;   
    }
    
    .dropdown-content a:hover{
        color: black;
        text-decoration: none;
        text-align: center;   
    }
}